#sidebar {
  //$sidebar-main-bg: #1e282c;
  $sidebar-main-bg : darken(whitesmoke,5%);


  color: black;
  position: fixed;
  padding-right: 0;
  padding-left: 0;
  height: 100%;
  top: $navbar-height;
  line-height: 26px;
  background: $sidebar-main-bg;
  border-right: 1px solid darken($sidebar-main-bg,5%);


  .brand {
    background: $navbar-default-bg;
    line-height: 20px;
    padding: 25px 20px;
    height: $navbar-height;
    font-size: 20px;
    color: $navbar-default-color;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.24);

  }

  #search {
    padding: 15px;
    background: darken($sidebar-main-bg, 5%);
  }

  .list-group {
    height: 100%;
    .list-group-item {
      border: none;
      background: transparent;
      border-left: 3px solid transparent;

      &:hover {
        background: darken($sidebar-main-bg, 5%);
        border-left-color: $brand-primary;

      }
    }
  }
}
