#search.clearfix
    .row
        .col-md-12
            .input-group
                input.form-control(type="text" placeholder="Recipient's username")
                .input-group-btn
                    button.btn.btn-primary(type="button") Go




ul.list-group
    li.list-group-item Cras justo odio
    li.list-group-item Dapibus ac facilisis in
    li.list-group-item Morbi leo risus
    li.list-group-item Porta ac consectetur ac
    li.list-group-item Vestibulum at eros
