doctype html
html
    head
        title Ciao
        link(rel="stylesheet" href="assets/css/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        block content


    script(src="lib/jquery/jquery.min.js")
    script(src="lib/bootstrap-sass/assets/javascripts/bootstrap.min.js")

