extends index
.container
    block content
        .col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1.center-vertical
            .login.panel.z-1
                .panel-body
                    form
                        .form-group
                            label(for="exampleInputEmail1") Email address
                            input.form-control#exampleInputEmail1(type="email" placeholder="Email")
                        .form-group
                            label(for="exampleInputPassword1") Password
                            input.form-control#exampleInputPassword1(type="password" placeholder="Password")


                        p.help-block Example block-level help text here

                        .checkbox
                            label
                                input(type="checkbox")
                                | Check me out

                        button.btn.btn-primary.btn-block(type="submit") Submit
