// Bootstrap overrides
$body-bg: whitesmoke !important;
$border-radius-base: 0;
$border-radius-large: 4px;
$border-radius-small: 3px;

$brand-primary: #3c8dbc;

// Navbar overrides
$navbar-height: 70px;
$navbar-default-color: white !default;
$navbar-default-bg: #3c8dbc !default;

// Navbar links
$navbar-default-link-color: white !default;
$navbar-default-link-hover-color: whitesmoke !default;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-active-color: white !default;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color: #ccc !default;
$navbar-default-link-disabled-bg: transparent !default;

// Navbar brand label
$navbar-default-brand-color: $navbar-default-link-color !default;
$navbar-default-brand-hover-color: darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg: transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg: #ddd !default;
$navbar-default-toggle-icon-bar-bg: #888 !default;
$navbar-default-toggle-border-color: #ddd !default;


